*{
    margin: 0;
    padding: 0;
}
.rasm{
    padding-right: 80px ;
    color:rebeccapurple;
}
.iconca{
    margin-top: 20px;
    float: right;
    margin-left: 481px;
}
                                 /* footer */

