<div class="container">
    <div class="mb-3">
            <div class="card">
                <h3 class="card-header bg-info text-white">Rasm yuklash</h3>
                <div class="form-group p-4">
                    <form enctype="multipart/form-data" method="POST" action="/images">
                        <div class="row">
                            <div class="col-md-2 text-secondary"><b>Rasm:</b></div>
                            <div class="col-md-10"><input id="file" name="file" type="file" class="form-control p-1"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2 text-secondary"><b>Mavzu:</b></div>
                            <div class="col-md-10"><input name="title" type="text" class="form-control"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2 text-secondary"><b>Ta'rif:</b></div>
                            <div class="col-md-10"><textarea name="description" class="form-control" cols="30" rows="5"></textarea></div>
                        </div>
                        <div><button id="login-btn" type="submit" class="btn btn-outline-info mt-3 float-right"><i class="fa fa-cloud-upload mr-2 fa-lg"></i>Jo'natish</button></div>
                    </form>
                </div>
            </div>
            <div class="card mt-3 mb-3">
                <h4 class="card-header">Yangi suratlar</h4>
                <div class="card-body text-center">
                    <% for(var image of images) { %>
                        <a href="/image/<%= image._id %>">
                            <img width="70" src="/upload/<%= image.imageName %>" alt="title" class="img-thumbnail">
                        </a>
                    <% } %>
                </div>
            </div>
    </div>
</div>