<div class="card mb-3">
    <h4 class="card-header bg-info text-center text-white">Yangi komentariya</h4>
    <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <a class="pull-left" href="/images/<%= //image.uniqueId %>"> 
                        <img style="border-radius: 50%;" width="45" height="45" src="/public/uploads/<%= //image.filename %>">
                    </a>
                </div>
                <div class="col-md-9">
                    <code>Bu qandaydir kommentariya</code>
                    <h5 class="mt-0">Ali</h5>
                    <span style="font-size: 12px;" class="float-right"> 4 kun oldin... </span>
                </div>
            </div>
            <hr class="mt-0">
    </div>
</div>