<footer class="bg-dark text-center p-3">
    <div style="font-family: consolas;" class="text-info">Created By BootesVoid</div>
    <div class="text-info">&copy; <span id="year"> <script>document.getElementById('year').innerHTML = new Date().getFullYear()</script></span></div>
    <hr class="bg-info">
    <div class="text-info"><i class="fa fa-facebook-square"></i> <i class="fa fa-github"></i> <i class="fa fa-telegram"></i></div>
</footer>