<div class="card mb-3">
    <h4 class="card-header bg-info text-center text-white">Eng Ommabop</h4>
    <div class="card-body text-center">
            <span class="" style="padding-bottom: .5em;">
                <a href="/images/uniqueId">
                    <img src="/public/upload/" style="width: 70px; height: 70px;" class="img-thumbnail">
                </a>
                <a href="/images">
                    <img src="/public/upload/" style="width: 70px; height: 70px;" class="img-thumbnail">
                </a>
                <a href="/images">
                    <img src="/public/upload/" style="width: 70px; height: 70px;" class="img-thumbnail">
                </a>
                <a href="/images">
                    <img src="/public/upload/" style="width: 70px; height: 70px;" class="img-thumbnail">
                </a>
            </span>
    </div>
</div>