<div class="card mb-3">
    <h4 class="card-header bg-info text-center text-white">Stats</h4>
    <div class="card-body text-dark">
        <div>
            <b>Suratlar:</b> 
            <span class="float-right"><%= 3214 %></span>
        </div>
        <div>
            <b>Komentariya:</b> 
            <span class="float-right"><%= 3246 %></span>
        </div>
        <div>
            <b>Ko'rilgan:</b> 
            <span class="float-right"><%= 231549 %></span>
        </div>
        <div>
            <b>Layklar:</b> 
            <span class="float-right"><%= 65214 %></span>
        </div>        
    </div>
</div>